.date { 
  background-color: lightblue;
  box-shadow: 2px 2px 5px grey;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: red;
  font-family: 'Arial', sans-serif;
  margin-left: 500px;
}

.time{
  background-color: lightgreen;
  box-shadow: 2px 2px 5px grey;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: blue;
  font-family: 'Arial', sans-serif;
  margin-left: 500px;
}